.DS_Store
**/.venv/
**/.state/
**/__pycache__/
**/.pytest_cache/
*.pyc
.env
.env.*
**/.build/
**/build*/
**/artifacts/
**/node_modules/
**/*.xcodeproj/
**/Generated/
*.ipa
*.apk
*.p12
*.pem
*.key
*.mobileprovision
*.jks
*.keystore
*.dex
*.jsonl
**/private/
**/*PrivateBootstrap*
*.hap
*.app
*.p7b
*.cer
**/.cxx/
**/.hvigor/
**/oh_modules/
**/.idea/
**/local.properties
/harmony-sdk/build-profile.json5
